@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border text-white;
  font-family: 'Montserrat', sans-serif;
}

/* @layer base {
  * {
      @apply box-border text-white;
      font-family: 'Montserrat', sans-serif;
      scroll-behavior: smooth;
  }
} */

.wrapper {
  @apply md:w-11/12 m-auto;
}

a {
  @apply p-3 mx-1 text-lg;

  --s: 0.2em;
  /* the thickness of the line */
  --c: rgb(202, 202, 202);
  /* the color */

  color: #0000;
  padding-bottom: var(--s);
  background:
      linear-gradient(90deg, var(--c) 50%, var(--c) 0) calc(100% - var(--_p, 0%))/200% 100%,
      linear-gradient(var(--c) 0 0) 0% 100%/var(--_p, 0%) var(--s) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.5s;
}

a:hover {
  --_p: 100%
}

.background {
  @apply from-[#0F2027] to-[#2C5364] bg-gradient-to-bl w-screen h-screen -z-10 overflow-hidden top-0 pointer-events-none object-cover transition-opacity duration-[1s];
}

.background img {
  @apply absolute brightness-[45%];
}

a.router-link-active {
  @apply text-green-400;
  
  --_p: 100%;
  --c: #42d392;
}

body {
  background-color: #242424;
}

.name {
  @apply text-green-500 italic;
}

/* :root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
